@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap");

h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  /* used for event dates/times */
  margin-right: 3px;
  line-break: break-all !important;
}

.calendar {
  display: flex;
  min-height: 80%;
  font-size: 14px;
  width: 100%;
}

.calendar-main {
  flex-grow: 1;
}
/* TODO: multiply event colors */
.calendar-event {
  width:100%;
  background: #77cb0150;
  z-index: 9999;
  border-radius: 5px;
  padding: 1px;
  color: rgba(238, 238, 238, 0.8);
}

.fc {
  /* the calendar root */
  margin: 0 auto;
}

.fc-button-primary {
  background-color: transparent !important;
  border-radius: 5px !important;
  border: none !important;
  transition: .2s ease-in-out !important;
  font-family: 'Montserrat', sans-serif !important;
}

.fc-button-primary:hover {
  background-color: #76cb01 !important;
  color: #242424 !important;
}

.fc-button-primary:focus {
  box-shadow: none !important;
}

.fc-day-today {
  background-color: #77cb0130 !important;
}

.fc table,
.fc td,
.fc th {
  border-color: rgba(238, 238, 238, 0.1) !important;
}
