.swiper-button-next, .swiper-button-prev{
    color:#76cb01;
   
}
.swiper-pagination-bullets{
    bottom:0px !important;
}
.swiper-slide{
    display:flex;
    width:250px !important;
}
.swiper-pagination-bullet-active{
    background: #76cb01;
}
.swiper-container{
    padding:12px;
}