@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');

$main-font: 'Montserrat', sans-serif;
$header-weight: 500;
$text-weight: 300;
$span-weight: 200;
$mid-header: 400;